.form {
      & {
            display: flex;
            align-items: center;
            background-color: var(--white);
            border-radius: 10rem;
            padding: 0 3rem 0 3rem;
            transition: all 0.3s;
            border: 1px solid black;
            margin-bottom: 2.4rem;

            &:focus-within {
                  transform: translateY(-3px);
            }
      }

      &__field {
            border: none;
            background: transparent;
            font-family: inherit;
            color: inherit;
            font-size: 1.7rem;
            width: 100%;
            border: none;
            outline: none;
            padding: 1rem;
      }
      &__clear {
            border: 1px solid black;
            padding: 0.5rem;
      }
}
