.pagination {
      display: flex;
      gap: 2.4rem;
      margin: 0 auto;
      width: fit-content;
      padding: 3.2rem 1.2rem;

      &__btn {
            padding: 1.2rem 1.8rem;
            border-radius: 2rem;
            cursor: pointer;
            background-color: var(--primary-color);
            color: white;
      }

      &__btns {
            display: flex;
            gap: 2.4rem;
      }

      .btnContent {
            display: flex;
            align-items: center;
            gap: 1.2rem;
      }
}
