.featuresUl {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2.4rem;

      @media (max-width: 37.5em) {
            grid-template-columns: 1fr;
      }
}


.feature {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      padding: 3rem;
      border-radius: 8px;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      border: 1px solid white;
      background-color: var(--grey-light-2);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.612);

      &:hover {
            transform: scale(1.05);
      }

      &_title {
            font-size: 2.4rem;
            color: #333;
            font-weight: 700;
            margin-bottom: 1.6rem;
      }

      &_text {
            font-size: 1.8rem;
            line-height: 1.8;
      }

      &_icon {
      }
}
