@import '../../../../../styles/abstract/mixins';

.stepsUl {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
}

.stepsLi {
      display: grid;
      //   grid-template-columns: repeat(2, 1fr);
      gap: 2.4rem;

      @include respond(md) {
            // width > 900?
            grid-template-columns: repeat(2, 1fr);

            &:nth-child(2) .stepImgBox {
                  order: 2;
            }
      }
}
