:root {
      font-family: 'Lato', sans-serif;

      //color
      --primary-color: #55c57a;
      --primary-light: #7ed56f;
      --primary-dark: #28b485;

      /* neutral*/
      --white: #fff;
      --black: #000;
      --grey-light: #f1f1f1;
      --grey-light-1: #f7f7f7;
      --grey-light-2: #eee;
      --grey-dark: #777;
      --grey-dark-2: #999;
      --grey-dark-3: #333;
}
