:root {
      //fonts
      font-family: 'Lato', sans-serif;
      --font-default: 1.6rem;

      //color
      --primary-color: #f38e82;
      --primary-light: #fbdb89;
      --primary-dark: #f48982;

      /* neutral*/
      --white: #fff;
      --black: #000;
      --grey-light: #f1f1f1;
      --grey-light-1: #f7f7f7;
      --grey-light-2: #eee;
      --grey-dark: #777;
      --grey-dark-2: #c0c0c0;
      --grey-dark-3: #323232;
}
