@import '../../../../../styles/abstract/mixins';

.header {
      &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2.4rem 0;
      }
}

.nav_container {
      display: none;
      align-items: center;
      gap: 3.2rem;

      @include respond(md) {
            display: flex;
      }
}

nav {
      ul {
            display: flex;
            gap: 2.4rem;
            align-items: center;
      }
      a {
      }
}

.toggle {
      @include respond(md) {
            display: none;
      }
}
