.gallery {
      display: flex;
      flex-direction: column;
      //   grid-template-columns: repeat(2, 1fr);
      //   grid-template-rows: repeat(2, 1fr);
      gap: 1.6rem;
      padding: 1.6rem;
      overflow: hidden;

      &_item {
            overflow: hidden;

            img {
                  display: block;
                  width: 100%;
                  transition: all 0.4s;

                  &:hover {
                        transform: scale(1.1);
                  }
            }
      }
}

.imgSection1 {
      display: flex;
}

.imgSection2 {
      display: flex;
}
