.sectionCta {
      padding: 15rem 0;
      background-image: linear-gradient(
            to right bottom,
            var(--primary-color),
            var(--primary-dark)
      );

      // @include respond(tab-port) {
      //     padding: 10rem 0;
      // }
      &_form {
            // width: 50%;
            // padding: 6rem;

            // @include respond(tab-land) {
            //     width: 65%;
            // }

            // @include respond(tab-port) {
            //     width: 100%;
            // }
      }

      .btn {
            text-transform: uppercase;
            text-decoration: none;
            padding: 1.5rem 4rem;
            display: inline-block;
            border-radius: 10rem;
            transition: all 0.2s;
            position: relative;
            font-size: 1.6rem;

            //Change for the <button> element
            border: none;
            cursor: pointer;

            background-color: var(--primary-color);
            color: white;
            margin-top: 2.4rem;
      }
}

.book {
      background-image: linear-gradient(
                  105deg,
                  rgba(#fff, 0.9) 0%,
                  rgba(#fff, 0.9) 55%,
                  transparent 55%
            ),
            url(/eating.jpg);
      background-size: 100%;
      background-size: cover;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(#000, 0.2);

      @media (max-width: 37.5em) {
            background-image: linear-gradient(
                        90deg,
                        rgba(#fff, 0.9) 0%,
                        rgba(#fff, 0.9) 100%,
                        transparent 100%
                  ),
                  url(/eating.jpg);
      }
}

.form {
      width: 55%;
      padding: 6rem;

      @media (max-width: 37.5em) {
            width: 100%;
            padding: 2.4rem;
      }

      h2 {
            font-size: 3.2rem;
            line-height: 1.2;
            margin-bottom: 2.4rem;
      }
      p {
            font-size: 1.6rem;
            margin-bottom: 2.4rem;
      }
      &_group:not(:last-child) {
            margin-bottom: 2rem;
      }

      &_input {
            font-size: 1.5rem;
            font-family: inherit;
            color: inherit;
            padding: 1.5rem 2rem;
            border-radius: 2px;
            background-color: rgba(#fff, 0.5);
            border: none;
            border-bottom: 3px solid transparent;
            width: 90%;
            display: block;
            transition: all 0.3s;
            @media (max-width: 37.5em) {
                  width: 100%;
            }

            // @include respond(tab-port) {
            //       width: 100%;
            // }

            &:focus {
                  outline: none;
                  box-shadow: 0 1rem 2rem rgba(#000, 0.1);
                  border-bottom: 3px solid green;
            }

            &:focus:invalid {
                  border-bottom: 3px solid #777;
            }

            &::-webkit-input-placeholder {
                  color: green;
            }
      }

      &_label {
            font-size: 1.2rem;
            font-weight: 700;
            margin-left: 2rem;
            margin-top: 0.7rem;
            display: block;
            transition: all 0.3s;
      }

      &_input:placeholder-shown + &__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
      }

      &__radio-group {
            width: 49%;
            display: inline-block;

            // @include respond(tab-port) {
            //       width: 100%;
            //       margin-bottom: 2rem;
            // }
      }

      &_radio-input {
            display: none;
      }

      &_radio-label {
            font-size: 16px;
            cursor: pointer;
            position: relative;
            padding-left: 4.5rem;
      }

      &_radio-button {
            height: 3rem;
            width: 3rem;
            border: 5px solid green;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: 0;
            top: -0.4rem;

            &::after {
                  content: '';
                  display: block;
                  height: 1.3rem;
                  width: 1.3rem;
                  border-radius: 50%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  background-color: green;
                  opacity: 0;
                  transition: opacity 0.2s;
            }
      }

      &_radio-input:checked ~ &_radio-label &_radio-button::after {
            opacity: 1;
      }
}
