@import '../../../styles/abstract/mixins';

.header {
      background-color: rgb(230, 223, 223);

      &_logo {
            height: 3.25rem;
            img {
                  height: 100%;
            }
      }

      &__container {
            padding: 2.4rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
}

.hidden {
      display: none;

      @include respond(md) {
            // width > 760?
            display: block;
      }
}
