@import '../../../../../styles/abstract/mixins';

.card {
      //functionality
      position: relative;
      perspective: 150rem;
      height: auto;
      //   transition: all 1.6s ease-in-out;

      // card at >900width
      @include respond(hi) {
            height: 50rem;
            &:hover &__side--front {
                  transform: rotateY(-180deg);
            }

            &:hover &__side--back {
                  transform: rotateY(0);
            }
      }

      //front
      &__picture {
            background-size: cover;
            height: 23rem;
            background-blend-mode: screen;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            &--1 {
                  background-image: linear-gradient(
                              to right bottom,

                              var(--secondary-color-light),
                              var(--secondary-color-dark)
                        ),
                        url(/public/eating.jpg);
            }

            &--2 {
                  background-image: linear-gradient(
                              to right bottom,
                              var(--primary-color-light),
                              var(--primary-color-dark)
                        ),
                        url(/img2/nat-6.jpg);
            }

            &--3 {
                  background-image: linear-gradient(
                              to right bottom,
                              var(--tertiary-color-light),
                              var(--tertiary-color-dark)
                        ),
                        url(/img2/nat-7.jpg);
            }
      }

      &__heading {
            font-size: 2.8rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: right;
            color: var(--white);
            position: absolute;
            top: 12rem;
            right: 2rem;
            width: 75%;
      }

      &__heading-span {
            padding: 1rem 1.5rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;

            &--1 {
                  background-image: linear-gradient(
                        to right bottom,
                        rgba(var(--secondary-color-dark), 0.85),
                        rgba(var(--secondary-color-dark), 0.85)
                  );
            }

            &--2 {
                  background-image: linear-gradient(
                        to right bottom,
                        rgba(var(--primary-color-dark), 0.85),
                        rgba(var(--primary-color-dark), 0.85)
                  );
            }

            &--3 {
                  background-image: linear-gradient(
                        to right bottom,
                        rgba(var(--tertiary-color-dark), 0.85),
                        rgba(var(--tertiary-color-dark), 0.85)
                  );
            }
      }

      &__details {
            padding: 3rem;

            ul {
                  list-style: none;
                  width: 80%;
                  margin: 0 auto;

                  li {
                        text-align: center;
                        font-size: 1.5rem;
                        padding: 1rem;

                        &:not(:last-child) {
                              border-bottom: 1px solid var(--grey-light-2);
                        }
                  }
            }
      }

      //back
      &__cta {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding: 4rem;
            text-align: center;

            @include respond(hi) {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 90%;
                  //   text-align: center;
            }
      }

      &__price-box {
            margin-bottom: 3rem;
      }

      &__price-value {
            font-size: 4rem;
      }

      &__side {
            height: auto;
            position: relative;
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.612);

            @include respond(hi) {
                  // width > 900?
                  height: 50rem;
                  transition: all 0.8s ease-in-out;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  backface-visibility: hidden;
                  border-radius: 3px;
                  overflow: hidden;
                  //   box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.612);
            }

            &--front {
                  background-color: var(--white);
            }

            &--back {
                  transform: rotateY(0);
                  background-color: green;

                  @include respond(hi) {
                        transform: rotateY(180deg);
                        background-color: red;
                  }
            }

            // @media only screen and (hover: none) {
            //       &:hover &__side--front {
            //             transform: rotateY(0);
            //       }

            //       &__details {
            //             padding: 1rem 3rem;
            //       }
            // }

            //    &--front {
            //       background-color: var(--white);
            // }

            // &--back {
            //       transform: rotateY(180deg);

            //       &-1 {
            //             background-image: linear-gradient(
            //                   to right bottom,
            //                   var(--secondary-color-light),
            //                   var(--secondary-color-dark)
            //             );
            //       }
            //       &-2 {
            //             background-image: linear-gradient(
            //                   to right bottom,
            //                   var(--primary-color-light),
            //                   var(--primary-color-dark)
            //             );
            //       }
            //       &-3 {
            //             background-image: linear-gradient(
            //                   to right bottom,
            //                   var(--tertiary-color-light),
            //                   var(--tertiary-color-dark)
            //             );
            //       }
            // }
            ///////////////////////////////////////////

            // height: auto;
            // position: relative;
            // box-shadow: none;

            // &--back {
            //       transform: rotateY(0);
            //       //   background-color: green;
            // }
            // &--front {
            //       //   background-color: red;
            // }
      }
}

//  &:hover &__side--front {
//         transform: rotateY(-180deg);
//   }

//   &:hover &__side--back {
//         transform: rotateY(0);
//   }

//   &__picture {
//         background-size: cover;
//         height: 23rem;
//         background-blend-mode: screen;
//         -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
//         clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
//         border-top-left-radius: 3px;
//         border-top-right-radius: 3px;

//         &--1 {
//               background-image: linear-gradient(
//                           to right bottom,

//                           var(--secondary-color-light),
//                           var(--secondary-color-dark)
//                     ),
//                     url(/public/eating.jpg);
//         }

//         &--2 {
//               background-image: linear-gradient(
//                           to right bottom,
//                           var(--primary-color-light),
//                           var(--primary-color-dark)
//                     ),
//                     url(/img2/nat-6.jpg);
//         }

//         &--3 {
//               background-image: linear-gradient(
//                           to right bottom,
//                           var(--tertiary-color-light),
//                           var(--tertiary-color-dark)
//                     ),
//                     url(/img2/nat-7.jpg);
//         }
//   }

//   &__heading {
//         font-size: 2.8rem;
//         font-weight: 300;
//         text-transform: uppercase;
//         text-align: right;
//         color: var(--white);
//         position: absolute;
//         top: 12rem;
//         right: 2rem;
//         width: 75%;
//   }

//   &__heading-span {
//         padding: 1rem 1.5rem;
//         -webkit-box-decoration-break: clone;
//         box-decoration-break: clone;

//         &--1 {
//               background-image: linear-gradient(
//                     to right bottom,
//                     rgba(var(--secondary-color-dark), 0.85),
//                     rgba(var(--secondary-color-dark), 0.85)
//               );
//         }

//         &--2 {
//               background-image: linear-gradient(
//                     to right bottom,
//                     rgba(var(--primary-color-dark), 0.85),
//                     rgba(var(--primary-color-dark), 0.85)
//               );
//         }

//         &--3 {
//               background-image: linear-gradient(
//                     to right bottom,
//                     rgba(var(--tertiary-color-dark), 0.85),
//                     rgba(var(--tertiary-color-dark), 0.85)
//               );
//         }
//   }

//   &__details {
//         padding: 3rem;

//         ul {
//               list-style: none;
//               width: 80%;
//               margin: 0 auto;

//               li {
//                     text-align: center;
//                     font-size: 1.5rem;
//                     padding: 1rem;

//                     &:not(:last-child) {
//                           border-bottom: 1px solid var(--grey-light-2);
//                     }
//               }
//         }
//   }

//   //back side
//   &__cta {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         width: 90%;
//         text-align: center;
//   }

//   &__price-box {
//         text-align: center;
//         color: var(--white);
//         margin-bottom: 8rem;
//   }

//   &__price-only {
//         font-size: 1.4rem;
//         text-transform: uppercase;
//   }

//   &__price-value {
//         font-size: 6rem;
//         font-weight: 100;
//   }

//   @media only screen and (hover: none)
// @include respond(tab-max900) {
//         height: auto;
//         background-color: white;
//         box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

//         &__side {
//               height: auto;
//               position: relative;
//               box-shadow: none;

//               &--back {
//                     transform: rotateY(0);
//               }
//         }

//         &:hover &__side--front {
//               transform: rotateY(0);
//         }

//         &__details {
//               padding: 1rem 3rem;
//         }

//         // FRONT SIDE STYLING
//         &__cta {
//               position: relative;
//               top: 0%;
//               left: 0;
//               transform: translate(0);
//               width: 100%;
//               padding: 7rem 4rem 4rem 4rem;
//         }

//         &__price-box {
//               margin-bottom: 3rem;
//         }

//         &__price-value {
//               font-size: 4rem;
//         }
//   }
