@import '../../../../../styles/abstract/mixins';

.price {
      padding: 8rem 0;
}

.prices {
      display: grid;
      gap: 3.2rem;

      @include respond(hi) {
            grid-template-columns: repeat(3, 1fr);
      }
}
