@import '../../../styles/base/components';

.btnLink {
      &,
      &:link,
      &:visited {
            @extend %btn;

            font-size: 1.4rem;
            font-weight: 600;
            padding: 1.25rem 2.25rem;
            text-decoration: none;

            svg {
                  height: 1.75rem;
                  width: 1.75rem;
                  fill: currentColor;
            }
      }
}
