.tg {
      padding: 8rem 0;

      &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @media (max-width: 37.5em) {
                  grid-template-columns: 1fr;
            }
      }
}
