*,
*::before,
*::after {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
}

html {
      box-sizing: border-box;
      font-size: 62.5%;
      scroll-behavior: smooth;
}

button,
input {
      background: none;
      border: none;
}

li {
      list-style: none;
}

img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}
// class elements
.container {
      max-width: 120rem;
      padding-left: 3.2rem;
      padding-right: 3.2rem;
      margin: 0 auto;
}
