
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

button,
input {
  background: none;
  border: none;
}

li {
  list-style: none;
}

// elements
.container{
    max-width: 100rem;
    padding: 3.2rem 0;
    margin: 0 auto;
}