// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
      font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
}

html {
      box-sizing: border-box;
      font-size: 62.5%;
      scroll-behavior: smooth;
}

button,
input {
      background: none;
      border: none;
}

li {
      list-style: none;
}
a {
      text-decoration: none;
}
img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}
// class elements
.container {
      max-width: 120rem;
      padding-left: 3.2rem;
      padding-right: 3.2rem;
      margin: 0 auto;
}
