.nav {
      background-color: blue;
}
.navList {
      display: flex;
      align-items: center;
}

.toolBtn {
      padding: 1.2rem 2.4rem;
      display: flex;
}

// .toolText {
//       visibility: hidden;
// }

// .toolBtn:hover .toolText {
//       visibility: visible;
// }
