@import '../../../styles/abstract/mixins';

.nav {
      //   background-color: blue;
}

.toggle {
      @include respond(hi) {
            display: none;
      }
}

.navList {
      display: none;
      align-items: center;

      @include respond(hi) {
            display: flex;
      }
}

.toolBtn {
      padding: 1.2rem 2.4rem;
      display: flex;
      gap: 1rem;
      cursor: pointer;
}
