@import '../../../../../styles/abstract/mixins';

.featured {
      padding: 4.8rem 0;

      &__container {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            h2 {
                  text-align: center;
            }
      }
}

.logos {
      display: flex;
      justify-content: space-around;
}

.imgBox {
      height: 1.2rem;

      @include respond(sm) {
            height: 1.8rem;
      }

      @include respond(md) {
            height: 2.4rem;
      }
}

.logoImg {
      object-fit: cover;
      height: 100%;
      opacity: 80%;
}
